@import "variables.less";

:local(.className) {
    position: fixed;
    background: #fff;
    z-index: 3;
    width: 100%;
    top: 0;
    left:0;

    .links {
        padding: 0 4.5em;
    }


    .links ul {
        background: #fff;
        width: 100%;
    }
    .links ul li.contact a span {
        border-right: 3px solid @secondary;
        border-left: 3px solid @secondary;
        display: inline-block;
        padding: 0 1em;
    }

    &.tiny .links {
        background: #fff;
    }

    .navbar {
        background-color: #fff;
    }

    ul.nav {
        padding-left: 0;
        padding-right: 0;
    }

    .nav > li {
        display: inline-block;
        padding: 0;
    }
    .nav > li a {
        color: @metal;
        font-size: 1.725rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1.3em 0 0.9em;
        font-family: 'ISOCTEUR', sans-serif;

        transition: padding 500ms;
    }
    .nav > li > a:hover {
        text-decoration: none;
        background-color: lighten(@metal, 50%);
    }
    &.tiny .nav > li a {
        padding-top: 1em;
        padding-bottom: 1.2em;
    }

    .pageHeader {
        background-color: @metal;
        height: 5em;
    }
    .pageHeader .logo {
        padding: 1em 0;
    }
    &.tiny .pageHeader {
        max-height: 0;
        border-bottom: 0;
    }
    &.tiny .pageHeader * {
        visibility: hidden;
    }

    .links .logo {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 500ms linear;
        position: absolute;
        left: 1em;

        .logoText {
            display: none;
        }
    }
    &.tiny .links .logo {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-top: 0.425em
    }

    @media (max-width: @screen-small) {
        .links {
            padding: 0;
        }
        .links ul li.contact a span {
            border-right: 0;
            border-left: 0;
            margin-left: -10px;
        }
    }
}

