@import "variables.less";

:local(.className) {
    position: fixed;
    background: @pale;
    z-index: 3;
    width: 100%;
    top: 0;
    left:0;

    .pageHeader {
        border-bottom: 1px solid @cloud;
    }

    .navbar {
        background-color: #fff;
    }

    ul.nav {
        padding-left: 0;
        padding-right: 0;
    }
    @media (min-width: 768px) {
        ul.nav {
            padding-left: 4em;
            padding-right: 4em;
        }
    }

    .nav > li {
        display: inline-block;
        padding: 0;
    }
    .nav > li a {
        color: @metal;
        font-size: 1.725rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1.8em 0 1.4em;
        font-family: 'ISOCTEUR', sans-serif;

        transition: padding 500ms;
    }
    .nav > li > a:hover {
        text-decoration: none;
        background-color: @cloud;
    }
    &.tiny .nav > li a {
        padding-top: 1em;
        padding-bottom: 1.2em;
    }
    .links {
        border-bottom: 1px solid @cloud;
    }

    .pageHeader {
        background-color: @metal;
        height: 5em;
    }
    .pageHeader .logo {
        padding: 1em 0;
    }
    &.tiny .pageHeader {
        max-height: 0;
    }
    &.tiny .pageHeader * {
        visibility: hidden;
    }

    .links .logo {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 500ms linear;
        position: absolute;
        left: 1em;

        .logoText {
            display: none;
        }
    }
    &.tiny .links .logo {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-top: 0.425em
    }
}

