@import "variables.less";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

@font-face {
    font-family: 'ISOCTEUR';
    font-style: normal;
    font-weight: normal;
    src: local('ISOCTEUR'), url('../../build/assets/ISOCTEUR.woff') format('woff');
}

body {
    font-family: Open Sans, sans-serif;
    color: @metal;
    font-size: 16px;
    line-height: 1.5em;
    background-color: @pale;
}

h1, h2, h3, h4 {
    font-family: Open Sans, sans-serif;
}

h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}

p {
    margin: 0 0 0.625em;
}

:local(.className) {
    padding-top: 1em;
    img.bronze {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    .row {
        padding-top: 2em;
    }
    .primary {
        background-image: linear-gradient(to bottom right, @primary-alt1, @primary-alt2);
        color: #fff;
    }
    .dark {
        background: @metal;
        color: #fff;
    }
    .secondary {
        background: @secondary;
        color: #fff;
    }
    .homeSection > div {
        padding: 3em 0 6em;
    }
    #expertise.homeSection > div {
        padding: 0 0 3em;
    }
}