@import "variables.less";

@font-face {
    font-family: 'ISOCTEUR';
    font-style: normal;
    font-weight: normal;
    src: local('ISOCTEUR'), url('../../build/assets/ISOCTEUR.woff') format('woff');
}

body {
    font-family: "museo",serif;
    color: @metal;
    font-size: 16px;
    line-height: 1.5em;
    background-color: @pale;
}

h1, h2, h3 {
    font-family: Open Sans,sans-serif;
}

h4 {
    font-family: "museo",serif;
}

h2 {
    font-size: 2.5em;
    line-height: 2em;
}
h3 {
    font-size: 2em;
    line-height: 2em;
}
h4 {
    font-size: 1.5em;
    line-height: 2em;
}

p {
    margin: 0 0 0.625em;
}

:local(.className) {
    padding-top: 1em;
    img.bronze {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    .primary {
        background-image: linear-gradient(to bottom right, @primary-alt1, @primary-alt2);
        color: #fff;
    }
    .dark {
        background: @metal;
        color: #fff;
    }
    .secondary {
        background: @secondary;
        color: #fff;
    }
    .homeSection > div {
        padding: 3em 0 3em;
    }
    #expertise.homeSection > div {
        padding: 0 0 3em;
    }
    #contact.homeSection > div {
        padding: 0 0 9em;
    }

    @media (max-width: @screen-small) {
        .homeSection > div {
            padding: 1em 0 2em;
        }
    }
}