@import "variables.less";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

body {
    font-family: Baskerville, sans-serif;
    color: @metal;
    font-size: 18px;
    padding-top: 4em;
}


:local(.className) {
    padding-bottom: 8em;
    img {
        filter: sepia(80%) saturate(2.5);
        -webkit-filter: sepia(80%) saturate(2.5);
    }
    img.bg {
        filter: sepia(80%) saturate(5.5) opacity(0.4);
        -webkit-filter: sepia(80%) saturate(5.5) opacity(0.4);
    }
    .section {
        padding-top: 4em;
    }
    .section > div {
        padding-top: 4em;
    }
}