:local(.className) {
    height: 5em;
    width: 10em;
    background-image: url(/imgs/logotext.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0;
    padding: 0;
    display: inline-block;

    transition: height 500ms, width 500ms;
    
    &.light {
        background-image: url(/imgs/logotextlight.svg);
    }
}
.tiny :local(.className) {
    height: 3em;
    width: 8em;
}