@import "variables.less";

:local(.className) {
    .primary {
        padding-top: 8.5em;
        padding-bottom: 6em;
        border-bottom: 3em solid @primary-alt1;
    }
    
    h2 {
        margin-top: 1.785em;
        margin-bottom: 0.675em;
    }
    h4 {
        line-height: 2em;
    }
}
