:local(.className) {
    padding-bottom: 0.95em;
    h2 {
        margin-top: 1.785em;
        margin-bottom: 0.675em;
    }
    h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }
    p {
        margin-top: 1em;
    }
    img {
        margin-top: 1.2em;
    }
}
